In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Final_data.csv')

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,0,0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.00000
1,1,1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.00000
2,2,2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.50000
3,3,3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,28.32000
4,4,4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,28.32000
...,...,...,...,...,...,...,...,...,...,...
1134445,1147441,1147441,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198
1134446,1147442,1147442,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,29.30198
1134447,1147443,1147443,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198
1134448,1147444,1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.00000
1134449,1147445,1147445,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198

In [4]:
df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
State           0
Centre          0
Commodity       0
Variety         0
Unit            0
Category        0
Date            0
Retail Price    0
dtype: int64

In [5]:
df = df.drop(["Unnamed: 0", "Unnamed: 0.1"],axis=1)

In [6]:
#4. Which date has highest price of wheat?

column = (df["Commodity"]=="Wheat")
max_index = column.idxmax()

print(max_index, "Date")

#whats the price?

1012802 Date

In [7]:
df["Commodity"]

0          Moong
1          Moong
2          Moong
3          Moong
4          Moong
           ...
1134445    Wheat
1134446    Wheat
1134447    Wheat
1134448    Wheat
1134449    Wheat
Name: Commodity, Length: 1134450, dtype: object

In [8]:
#5. Which is the highest price of wheat statewise?
#Answer Type 1

df[df["Commodity"]=="Wheat"].groupby(['State'])['Retail Price'].max().reset_index()

                State  Retail Price
0      Andhra Pradesh     44.000000
1   Arunachal Pradesh     47.000000
2               Assam     38.000000
3               Bihar     30.000000
4                 Goa     36.000000
5             Gujarat     36.000000
6             Haryana     29.684211
7    Himachal Pradesh     29.684211
8       Jammu Kashmir     29.684211
9           Jharkhand     32.000000
10          Karnataka     70.000000
11             Kerala     44.000000
12     Madhya Pradesh     32.000000
13        Maharashtra     40.000000
14            Manipur     29.684211
15          Meghalaya     29.684211
16           Nagaland     29.684211
17   National Capital     29.684211
18             Orissa     36.000000
19             Punjab     29.684211
20          Rajasthan     30.000000
21             Sikkim     30.000000
22         Tamil Nadu    130.000000
23          Telangana     45.000000
24            Tripura     32.000000
25  Union Territories     29.684211
26      Uttar Pradesh     29.684211
27        Uttarakhand     29.684211
28        West Bengal     29.684211

In [9]:
#Answer Type 2

st = df["State"].unique()
for i in st:
    m_price = df[(df["State"]==i) & (df["Commodity"]=="Wheat")]["Retail Price"].max()
    print("State: %s Max Price: %0.2f"%(i,m_price))

State: Andhra Pradesh Max Price: 44.00
State: Arunachal Pradesh Max Price: 47.00
State: Assam Max Price: 38.00
State: Bihar Max Price: 30.00
State: Goa Max Price: 36.00
State: Gujarat Max Price: 36.00
State: Haryana Max Price: 29.68
State: Himachal Pradesh Max Price: 29.68
State: Jammu Kashmir Max Price: 29.68
State: Jharkhand Max Price: 32.00
State: Karnataka Max Price: 70.00
State: Kerala Max Price: 44.00
State: Madhya Pradesh Max Price: 32.00
State: Maharashtra Max Price: 40.00
State: Manipur Max Price: 29.68
State: Meghalaya Max Price: 29.68
State: Mizoram Max Price: nan
State: Nagaland Max Price: 29.68
State: National Capital Max Price: 29.68
State: Orissa Max Price: 36.00
State: Punjab Max Price: 29.68
State: Rajasthan Max Price: 30.00
State: Sikkim Max Price: 30.00
State: Tamil Nadu Max Price: 130.00
State: Telangana Max Price: 45.00
State: Tripura Max Price: 32.00
State: Union Territories Max Price: 29.68
State: Uttar Pradesh Max Price: 29.68
State: Uttarakhand Max Price: 29.68
State: West Bengal Max Price: 29.68

In [10]:
#6. If the commodity is mustard oil, how many varieties are available in mustard oil?

df[df["Commodity"]=="Mustard Oil"]["Variety"].value_counts()

FAQ    20655
Name: Variety, dtype: int64

In [11]:
#7. What is the pomphret max price in Kerala from 2001 to 2021?

# step 1: Split Date
df[['Month','Year']] = df.Date.str.split("-",expand=True,)
df

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price,Month,Year
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.00000,JAN,2001
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.00000,JAN,2001
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.50000,JAN,2001
3,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,JAN-2001,28.32000,JAN,2001
4,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,JAN-2001,28.32000,JAN,2001
...,...,...,...,...,...,...,...,...,...,...
1134445,West Bengal,Jalpaiguri,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021
1134446,West Bengal,Kolkata,Wheat,Desi,Kg.,Food,MAR-2021,29.30198,MAR,2021
1134447,West Bengal,Kolkata,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021
1134448,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.00000,MAR,2021
1134449,West Bengal,Malda,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021

In [12]:
#7. What is the fish of variety pomphret max price in Kerala from 2001 to 2021?

df[(df["State"]=="Kerala") & (df["Commodity"]=="Pomphret")]["Retail Price"].max()

nan

In [13]:

st = df["Year"].unique()
for i in st:
    m_price = df[(df["Year"]==i) & (df["Commodity"]=="Fish") & (df["Variety"]=="Pomphret") & (df["State"]=="Kerala")]["Retail Price"].max()
    print("Year: %s Max Price: %0.2f"%(i,m_price))

Year: 2001 Max Price: 59.68
Year: 2002 Max Price: 70.00
Year: 2003 Max Price: 120.00
Year: 2004 Max Price: 130.00
Year: 2005 Max Price: 175.00
Year: 2006 Max Price: 180.00
Year: 2007 Max Price: 250.00
Year: 2008 Max Price: 300.00
Year: 2009 Max Price: 300.00
Year: 2010 Max Price: 400.00
Year: 2011 Max Price: 400.00
Year: 2012 Max Price: 450.00
Year: 2013 Max Price: 400.00
Year: 2014 Max Price: 232.88
Year: 2015 Max Price: 600.00
Year: 2016 Max Price: 680.00
Year: 2017 Max Price: 600.00
Year: 2018 Max Price: 650.00
Year: 2019 Max Price: 780.00
Year: 2020 Max Price: 750.00
Year: 2021 Max Price: 680.00

In [14]:
#8. Which states are not using meat as commodity?


st = df["State"].unique()
for i in st:
    m_use = df[(df["State"]==i) & (df["Commodity"]!="Meat")].count()
    print(i,m_use)

Andhra Pradesh State           53547
Centre          53547
Commodity       53547
Variety         53547
Unit            53547
Category        53547
Date            53547
Retail Price    53547
Month           53547
Year            53547
dtype: int64
Arunachal Pradesh State           12840
Centre          12840
Commodity       12840
Variety         12840
Unit            12840
Category        12840
Date            12840
Retail Price    12840
Month           12840
Year            12840
dtype: int64
Assam State           51846
Centre          51846
Commodity       51846
Variety         51846
Unit            51846
Category        51846
Date            51846
Retail Price    51846
Month           51846
Year            51846
dtype: int64
Bihar State           50388
Centre          50388
Commodity       50388
Variety         50388
Unit            50388
Category        50388
Date            50388
Retail Price    50388
Month           50388
Year            50388
dtype: int64
Goa State           13569
Centre          13569
Commodity       13569
Variety         13569
Unit            13569
Category        13569
Date            13569
Retail Price    13569
Month           13569
Year            13569
dtype: int64
Gujarat State           52818
Centre          52818
Commodity       52818
Variety         52818
Unit            52818
Category        52818
Date            52818
Retail Price    52818
Month           52818
Year            52818
dtype: int64
Haryana State           25923
Centre          25923
Commodity       25923
Variety         25923
Unit            25923
Category        25923
Date            25923
Retail Price    25923
Month           25923
Year            25923
dtype: int64
Himachal Pradesh State           24222
Centre          24222
Commodity       24222
Variety         24222
Unit            24222
Category        24222
Date            24222
Retail Price    24222
Month           24222
Year            24222
dtype: int64
Jammu Kashmir State           25923
Centre          25923
Commodity       25923
Variety         25923
Unit            25923
Category        25923
Date            25923
Retail Price    25923
Month           25923
Year            25923
dtype: int64
Jharkhand State           25437
Centre          25437
Commodity       25437
Variety         25437
Unit            25437
Category        25437
Date            25437
Retail Price    25437
Month           25437
Year            25437
dtype: int64
Karnataka State           53790
Centre          53790
Commodity       53790
Variety         53790
Unit            53790
Category        53790
Date            53790
Retail Price    53790
Month           53790
Year            53790
dtype: int64
Kerala State           39978
Centre          39978
Commodity       39978
Variety         39978
Unit            39978
Category        39978
Date            39978
Retail Price    39978
Month           39978
Year            39978
dtype: int64
Madhya Pradesh State           80199
Centre          80199
Commodity       80199
Variety         80199
Unit            80199
Category        80199
Date            80199
Retail Price    80199
Month           80199
Year            80199
dtype: int64
Maharashtra State           66144
Centre          66144
Commodity       66144
Variety         66144
Unit            66144
Category        66144
Date            66144
Retail Price    66144
Month           66144
Year            66144
dtype: int64
Manipur State           11868
Centre          11868
Commodity       11868
Variety         11868
Unit            11868
Category        11868
Date            11868
Retail Price    11868
Month           11868
Year            11868
dtype: int64
Meghalaya State           13326
Centre          13326
Commodity       13326
Variety         13326
Unit            13326
Category        13326
Date            13326
Retail Price    13326
Month           13326
Year            13326
dtype: int64
Mizoram State           12354
Centre          12354
Commodity       12354
Variety         12354
Unit            12354
Category        12354
Date            12354
Retail Price    12354
Month           12354
Year            12354
dtype: int64
Nagaland State           13569
Centre          13569
Commodity       13569
Variety         13569
Unit            13569
Category        13569
Date            13569
Retail Price    13569
Month           13569
Year            13569
dtype: int64
National Capital State           13326
Centre          13326
Commodity       13326
Variety         13326
Unit            13326
Category        13326
Date            13326
Retail Price    13326
Month           13326
Year            13326
dtype: int64
Orissa State           38520
Centre          38520
Commodity       38520
Variety         38520
Unit            38520
Category        38520
Date            38520
Retail Price    38520
Month           38520
Year            38520
dtype: int64
Punjab State           39249
Centre          39249
Commodity       39249
Variety         39249
Unit            39249
Category        39249
Date            39249
Retail Price    39249
Month           39249
Year            39249
dtype: int64
Rajasthan State           67602
Centre          67602
Commodity       67602
Variety         67602
Unit            67602
Category        67602
Date            67602
Retail Price    67602
Month           67602
Year            67602
dtype: int64
Sikkim State           13569
Centre          13569
Commodity       13569
Variety         13569
Unit            13569
Category        13569
Date            13569
Retail Price    13569
Month           13569
Year            13569
dtype: int64
Tamil Nadu State           80685
Centre          80685
Commodity       80685
Variety         80685
Unit            80685
Category        80685
Date            80685
Retail Price    80685
Month           80685
Year            80685
dtype: int64
Telangana State           13569
Centre          13569
Commodity       13569
Variety         13569
Unit            13569
Category        13569
Date            13569
Retail Price    13569
Month           13569
Year            13569
dtype: int64
Tripura State           12597
Centre          12597
Commodity       12597
Variety         12597
Unit            12597
Category        12597
Date            12597
Retail Price    12597
Month           12597
Year            12597
dtype: int64
Union Territories State           43623
Centre          43623
Commodity       43623
Variety         43623
Unit            43623
Category        43623
Date            43623
Retail Price    43623
Month           43623
Year            43623
dtype: int64
Uttar Pradesh State           80685
Centre          80685
Commodity       80685
Variety         80685
Unit            80685
Category        80685
Date            80685
Retail Price    80685
Month           80685
Year            80685
dtype: int64
Uttarakhand State           26652
Centre          26652
Commodity       26652
Variety         26652
Unit            26652
Category        26652
Date            26652
Retail Price    26652
Month           26652
Year            26652
dtype: int64
West Bengal State           56220
Centre          56220
Commodity       56220
Variety         56220
Unit            56220
Category        56220
Date            56220
Retail Price    56220
Month           56220
Year            56220
dtype: int64

In [15]:
#9. How many types of variety of meat?

df[df["Commodity"]=="Meat"]["Variety"].value_counts()

Mutton    20412
Name: Variety, dtype: int64

In [16]:
df["Variety"].unique()

array(['Split', 'FAQ', 'Powdered Agmark', 'Common/Coarse', 'Fine',
       'Superfine', 'Loose(common)', 'Packet(iodized)',
       'Brooke Bond Red Label', 'Ctc(loose)', 'Glucose',
       'Delicious medium size', 'Local', 'White', 'Mutton', 'Cow/Buffalo',
       'Dairy', 'Common', 'Cat Fish', 'Pomphret', 'Rohu 1Kg Size', 'Desi',
       'Whole', 'Amul/Any Other', 'Poultry', 'Dry', 'Fresh', 'Instant',
       'Powdered', 'Kalyan HYV'], dtype=object)

In [17]:
#10. Which district has the highest price of rice in Maharastra?
for c in st:
    df["State"]="Maharashtra"
    
ct = df["Centre"].unique()
for i in ct:
    h_price = df[(df["Centre"]==i) & (df["State"]=="Maharashtra") & (df["Commodity"]=="Rice")]["Retail Price"].max()
    print("District: %s Max Price: %0.2f"%(i,h_price))

District: Chittoor Max Price: 54.00
District: Guntur Max Price: 52.00
District: Kurnool Max Price: 52.00
District: Vishakhapatnam Max Price: 54.00
District: Itanagar Max Price: 55.00
District: Dibrugarh Max Price: 60.00
District: Dispur Max Price: 62.00
District: Guwahati Max Price: 225.00
District: Silchar Max Price: 60.00
District: Gaya Max Price: 70.00
District: Hajipur Max Price: 125.00
District: Muzaffarpur Max Price: 51.12
District: Patna Max Price: 74.00
District: Panaji Max Price: 140.00
District: Gandhi Nagar Max Price: 110.00
District: Rajkot Max Price: 120.00
District: Surat Max Price: 80.00
District: Vadodra Max Price: 95.00
District: Hissar Max Price: 110.00
District: Karnal Max Price: 90.00
District: Mandi Max Price: 120.00
District: Shimla Max Price: 51.12
District: Jammu Max Price: 140.00
District: Shrinagar Max Price: 64.00
District: Dhanbad Max Price: 52.00
District: Ranchi Max Price: 64.00
District: Bangalore Max Price: 78.00
District: Bijapur Max Price: 65.00
District: Hubli Max Price: 54.00
District: Tumkur Max Price: 56.00
District: Ernakulam Max Price: 51.12
District: Khozhikode Max Price: 120.00
District: Trivandrum Max Price: 110.00
District: Bhillai Max Price: 70.00
District: Bhopal Max Price: 78.00
District: Gwalior Max Price: 100.00
District: Indore Max Price: 70.00
District: Rewa Max Price: 80.00
District: Sehore Max Price: 82.00
District: Aurangabad Max Price: 122.00
District: Mumbai Max Price: 84.00
District: Nagpur Max Price: 66.00
District: Nasik Max Price: 75.00
District: Pune Max Price: 75.00
District: Imphal Max Price: 55.00
District: Shillong Max Price: 100.00
District: Aizwal Max Price: 80.00
District: Kohima Max Price: 110.00
District: Delhi Max Price: 51.12
District: Bhawanipatna Max Price: 46.26
District: Bhubneshwar Max Price: 45.00
District: Cuttack Max Price: 44.63
District: Amritsar Max Price: 90.00
District: Bhatinda Max Price: 90.00
District: Ludhiana Max Price: 51.12
District: Dausa Max Price: 210.00
District: Jaipur Max Price: 130.00
District: Jodhpur Max Price: 165.00
District: Swaimadhopur Max Price: 223.00
District: Udaipur Max Price: 135.00
District: Gangtok Max Price: 75.00
District: Chennai Max Price: 62.00
District: Coimbatore Max Price: 72.00
District: Madurai Max Price: 54.00
District: Salem Max Price: 64.00
District: Tambram Max Price: 51.12
District: Tirunelveli Max Price: 56.00
District: Hyderabad Max Price: 52.00
District: Agartala Max Price: 65.00
District: Chandigarh Max Price: 51.12
District: Pondicherry Max Price: 51.12
District: Portblair Max Price: 65.87
District: Silvasa Max Price: 51.12
District: Agra Max Price: 112.00
District: Allahabad Max Price: 100.00
District: Gorakhpur Max Price: 67.00
District: Kanpur Max Price: 78.00
District: Lucknow Max Price: 120.00
District: Saharanpur Max Price: 95.00
District: Haldwani Max Price: 80.00
District: Srinagar Max Price: 110.00
District: Asansol Max Price: 45.00
District: Howrah Max Price: 225.00
District: Jalpaiguri Max Price: 60.00
District: Kolkata Max Price: 110.00
District: Malda Max Price: 50.75

In [18]:
df["Centre"].unique()

array(['Chittoor', 'Guntur', 'Kurnool', 'Vishakhapatnam', 'Itanagar',
       'Dibrugarh', 'Dispur', 'Guwahati', 'Silchar', 'Gaya', 'Hajipur',
       'Muzaffarpur', 'Patna', 'Panaji', 'Gandhi Nagar', 'Rajkot',
       'Surat', 'Vadodra', 'Hissar', 'Karnal', 'Mandi', 'Shimla', 'Jammu',
       'Shrinagar', 'Dhanbad', 'Ranchi', 'Bangalore', 'Bijapur', 'Hubli',
       'Tumkur', 'Ernakulam', 'Khozhikode', 'Trivandrum', 'Bhillai',
       'Bhopal', 'Gwalior', 'Indore', 'Rewa', 'Sehore', 'Aurangabad',
       'Mumbai', 'Nagpur', 'Nasik', 'Pune', 'Imphal', 'Shillong',
       'Aizwal', 'Kohima', 'Delhi', 'Bhawanipatna', 'Bhubneshwar',
       'Cuttack', 'Amritsar', 'Bhatinda', 'Ludhiana', 'Dausa', 'Jaipur',
       'Jodhpur', 'Swaimadhopur', 'Udaipur', 'Gangtok', 'Chennai',
       'Coimbatore', 'Madurai', 'Salem', 'Tambram', 'Tirunelveli',
       'Hyderabad', 'Agartala', 'Chandigarh', 'Pondicherry', 'Portblair',
       'Silvasa', 'Agra', 'Allahabad', 'Gorakhpur', 'Kanpur', 'Lucknow',
       'Saharanpur', 'Haldwani', 'Srinagar', 'Asansol', 'Howrah',
       'Jalpaiguri', 'Kolkata', 'Malda'], dtype=object)

In [19]:
(df["State"]=="Maharashtra")

0          True
1          True
2          True
3          True
4          True
           ...
1134445    True
1134446    True
1134447    True
1134448    True
1134449    True
Name: State, Length: 1134450, dtype: bool

In [32]:
#11. What is the price difference between desi wheat and Kalyan HYV statewise?

st = df["State"].unique()
for i in st:
    m_price1 = df[(df["State"]==i) & (df["Commodity"]=="Wheat") & (df["Variety"]=="Desi")]["Retail Price"].max()
    print("State: %s Max Price: %0.2f"%(i,m_price1))
    
st = df["State"].unique()
for i in st:
    m_price2 = df[(df["State"]==i) & (df["Commodity"]=="Wheat") & (df["Variety"]=="Kalyan HYV")]["Retail Price"].max()
    print("State: %s Max Price: %0.2f"%(i,m_price2))
    
pdiff = m_price1 - m_price2
pdiff

State: Maharashtra Max Price: 125.00
State: Maharashtra Max Price: 130.00

-5.0

In [39]:
#12. How many variety of coffee is available and what is their price differences?

df[df["Commodity"]=="Coffee"]["Variety"].value_counts()

m_price1 = (df["Commodity"]=="Coffee") & (df["Variety"]=="Instant")["Retail Price"].max()
m_price1

m_price2 = (df["Commodity"]=="Coffee") & (df["Variety"]=="Powdered")["Retail Price"].max()
m_price2

pdiff = m_price1 - m_price2
pdiff

KeyError: 'Retail Price'

In [44]:
#13. What are the varieties of fish available in the market from 2001 to 2010?


df[df["Commodity"]=="Fish"]["Variety"].value_counts()

Rohu 1Kg Size    20169
Pomphret         17010
Cat Fish         14094
Name: Variety, dtype: int64

In [48]:
#14. Which state has lowest price of Bajra according to yearwise?

st = df["State"].unique()
for i in st:
    m_price = df[(df["State"]==i) & (df["Commodity"]=="Bajra")]["Retail Price"].min()
    print("State: %s Min Price: %0.2f"%(i,m_price))

State: Maharashtra Min Price: 3.50

In [69]:
#15. How many types of oils are available and their varieties?

# step 1: Split Oil
#new = df["Commodity"].str.split(" ", n = 1, expand = True)
#df["Type"]= new[1]
#df["Commodity"]= new[0]
#df

In [70]:
df["Oils"].unique()

array(['Moong', 'Mustard', 'Onion', 'Potato', 'Ragi', 'Red', 'Rice',
       'Salt', 'Sugar', 'Suji', 'Tea', 'Arhar', 'Atta', 'Bajra', 'Banana',
       'Besan', 'Biscuit', 'Apple', 'Groundnut', 'Gur', 'Jowar', 'Maida',
       'Maize', 'Masur', 'Meat', 'Milk', 'Coriander', 'Cummin', 'Eggs',
       'Fish', 'Ghee', 'Gingelly', 'Gram', 'Black', 'Bread', 'Brinjal',
       'Butter', 'Chicken', 'Coconut', 'Coffee', 'Tomato', 'Turmeric',
       'Urad', 'Vanaspati', 'Wheat'], dtype=object)

In [71]:
df_new = df.rename(columns={'Oils': 'Commodity'})
print(df_new)

               State          Centre     Variety Unit Category      Date  \
0        Maharashtra        Chittoor       Split  Kg.     Food  JAN-2001
1        Maharashtra          Guntur       Split  Kg.     Food  JAN-2001
2        Maharashtra         Kurnool       Split  Kg.     Food  JAN-2001
3        Maharashtra  Vishakhapatnam       Split  Kg.     Food  JAN-2001
4        Maharashtra        Itanagar       Split  Kg.     Food  JAN-2001
...              ...             ...         ...  ...      ...       ...
1134445  Maharashtra      Jalpaiguri  Kalyan HYV  Kg.     Food  MAR-2021
1134446  Maharashtra         Kolkata        Desi  Kg.     Food  MAR-2021
1134447  Maharashtra         Kolkata  Kalyan HYV  Kg.     Food  MAR-2021
1134448  Maharashtra           Malda        Desi  Kg.     Food  MAR-2021
1134449  Maharashtra           Malda  Kalyan HYV  Kg.     Food  MAR-2021

         Retail Price Month  Year  Type Commodity
0            24.00000   JAN  2001  None     Moong
1            26.00000   JAN  2001  None     Moong
2            25.50000   JAN  2001  None     Moong
3            28.32000   JAN  2001  None     Moong
4            28.32000   JAN  2001  None     Moong
...               ...   ...   ...   ...       ...
1134445      29.30198   MAR  2021  None     Wheat
1134446      29.30198   MAR  2021  None     Wheat
1134447      29.30198   MAR  2021  None     Wheat
1134448      20.00000   MAR  2021  None     Wheat
1134449      29.30198   MAR  2021  None     Wheat

[1134450 rows x 11 columns]

In [73]:
df

,State,Centre,Variety,Unit,Category,Date,Retail Price,Month,Year,Type,Oils
0,Maharashtra,Chittoor,Split,Kg.,Food,JAN-2001,24.00000,JAN,2001,None,Moong
1,Maharashtra,Guntur,Split,Kg.,Food,JAN-2001,26.00000,JAN,2001,None,Moong
2,Maharashtra,Kurnool,Split,Kg.,Food,JAN-2001,25.50000,JAN,2001,None,Moong
3,Maharashtra,Vishakhapatnam,Split,Kg.,Food,JAN-2001,28.32000,JAN,2001,None,Moong
4,Maharashtra,Itanagar,Split,Kg.,Food,JAN-2001,28.32000,JAN,2001,None,Moong
...,...,...,...,...,...,...,...,...,...,...,...
1134445,Maharashtra,Jalpaiguri,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021,None,Wheat
1134446,Maharashtra,Kolkata,Desi,Kg.,Food,MAR-2021,29.30198,MAR,2021,None,Wheat
1134447,Maharashtra,Kolkata,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021,None,Wheat
1134448,Maharashtra,Malda,Desi,Kg.,Food,MAR-2021,20.00000,MAR,2021,None,Wheat
1134449,Maharashtra,Malda,Kalyan HYV,Kg.,Food,MAR-2021,29.30198,MAR,2021,None,Wheat

In [74]:
df_new["Commodity"].unique()

array(['Moong', 'Mustard', 'Onion', 'Potato', 'Ragi', 'Red', 'Rice',
       'Salt', 'Sugar', 'Suji', 'Tea', 'Arhar', 'Atta', 'Bajra', 'Banana',
       'Besan', 'Biscuit', 'Apple', 'Groundnut', 'Gur', 'Jowar', 'Maida',
       'Maize', 'Masur', 'Meat', 'Milk', 'Coriander', 'Cummin', 'Eggs',
       'Fish', 'Ghee', 'Gingelly', 'Gram', 'Black', 'Bread', 'Brinjal',
       'Butter', 'Chicken', 'Coconut', 'Coffee', 'Tomato', 'Turmeric',
       'Urad', 'Vanaspati', 'Wheat'], dtype=object)

In [75]:
df_new[df_new["Type"]=="Oil"]["Variety"].value_counts()

FAQ    80190
Name: Variety, dtype: int64

NameError: name 'Oil' is not defined

In [ ]:
#16. Which state consume more local products commodity wise?[in variety field]